<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Value of Scope</title>
    <script src="../script/angular.js"></script>
    <script src="script/child2.js"></script>
</head>
<body>
<h4>由于原型继承的关系，修改父级对象中的 someBareValue 会同时修改子对象中的值，但反之则不行。
由于子controller中没有someBareValue，所以会取父controller中的someBareValue，之后再改变someBareValue不会修改父controller中的值</h4>
<div ng-controller="SomeController">
    {{ someModel.someValue }}
    <button ng-click="someAction()">Communicate to child</button>
    <div ng-controller="ChildController">
        {{ someModel.someValue }}
        <button ng-click="childAction()">Communicate to parent</button>
    </div>
</div>
</body>
</html>